/* Replace sidebars.css yang lama dgn yang ini */

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover{
  background-color: #0568fd;
  color: antiquewhite;
}